<input type="text" class="form-control datepicker" value="02-16-2012">

<br>

<div class="input-group date">
  <input type="text" class="form-control datepicker" placeholder= "ahihi">
  <div class="input-group-addon">
    <span class="glyphicon glyphicon-th"></span>
  </div>
</div>

<div class="input-group input-daterange datepicker">
    <input type="text" class="form-control" value="2012-04-05">
    <div class="input-group-addon">to</div>
    <input type="text" class="form-control" value="2012-04-19">
</div>